* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b5f5c0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.farmer-section {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.farmer-section h2 {
    margin-bottom: 10px;
    color: #28a745;
}

.farmer-section p {
    margin-bottom: 10px;
    color: #555;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    
}

.gallery img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}
